$full-width: 820px;

* {
  font-family: 'Almarai', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 7px;
  /*background: lightblue url("/images/0.png") no-repeat fixed center;*/
  -webkit-print-color-adjust: exact;
  box-sizing: border-box;
}

.page {
  position: relative;
  /*height: 90mm;*/
  /*width: 50mm;*/
  display: block;
  page-break-after: auto;
  margin: 50px;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

.bg {
  position: absolute;
  z-index: -100;
  width: 100%;
  left: 0;
  top: 0;
}

.truncate-overflow {
  --max-lines: 3;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}

.pageNum {
  //border: 1px black solid;
  position: absolute;
  top: 530px;
  right: 15px;
  width: 100px;
  text-align: center;
  font-size: 6em;
  color: #fff;


}

@import "page1";
@import "page2";
@import "page3";
@import "page4";
@import "page5";
@import "page6";
@import "page7";
@import "page8";
@import "page9";
@import "page10";
@import "page11";
@import "page12";
@import "page13";
