#container {
  position: absolute;
  top: 100px;
}

div#page4_tweet_num {
  //border: 1px black solid;
  position: absolute;
  top: 548px;
  right: 300px;
  width: 100px;
  height: 50px;
  color: #7e7e7e;
  font-size: 3em;
  text-align: center;
}