<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page4.png` %>">

    <input type="hidden" id="char4Data" value= "<%= page4Chart %>">
    <div id="container" style="width: 800px; font-family: 'Almarai', sans-serif"></div>

    <div id="page4_tweet_num"><%= data.tweets_num %></div>
    <div class="pageNum"><%= pageNum %></div>
</div>