<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page7.png` %>">

    <input type="hidden" id="page7Chart" value= "<%= page7Chart %>">
    <div id="sentiment" style="width: 800px"></div>

    <div class="pageNum"><%= pageNum %></div>
</div>