<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page6.png` %>">

    <input type="hidden" id="page6ChartLable" value= "<%= page6ChartLable %>">
    <input type="hidden" id="page6ChartValue" value= "<%= page6ChartValue %>">

    <div id="tweets" style="width: 800px"></div>

    <div class="pageNum"><%= pageNum %></div>
</div>
