<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page6.png` %>">

    <input type="hidden" id="page6ChartLable" value= "<%= page6ChartLable %>">
    <input type="hidden" id="page6ChartValue" value= "<%= page6ChartValue %>">

    <div id="tweets" style="width: 800px"></div>

    <div class="pageNum"><%= pageNum %></div>
</div>

<script>
    var page6ChartLable = $('#page6ChartLable').val();
    var page6ChartValue = $('#page6ChartValue').val();
    var lable = JSON.parse(page6ChartLable);
    var value = JSON.parse(page6ChartValue);

    Highcharts.chart('tweets', {
        chart: {
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 10,
                // beta: 5,
                depth: 70
            },
            backgroundColor: "rgba(255, 255, 255, 0)",
        },
        credits: {
            enabled: false
        },
        title: {
            text: ''
        },
        legend: {
            enabled: false,
        },

        plotOptions: {
            column: {
                depth: 25
            }
        },
        xAxis: {
            categories: lable,
            labels: {
                skew3d: true,
                style: {
                    fontSize: '16px'
                }
            }
        },
        yAxis: {
            title: {
                text: null
            }
        },
        tooltip: {
            enabled: false,
        },
        series: [{
            name: 'Sales',
            data: value
        }]
    });
</script>
