<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page12.png` %>">

    <img id="wordCloudCanvas" src="<%= worldCloudImage %>" alt="">

        <div class="pageNum"><%= pageNum %></div>
</div>